.title,
.text {
  color: rgb(231, 231, 231);
  text-decoration: none;
}
.title:hover,
.text:hover {
  color: rgb(214, 13, 13);
}

.background {
  padding: 0;
  margin: 0;
  background-color: rgb(39, 45, 59);
  height: 100%;
  width: 100%;
}
.greet {
  color: rgb(231, 231, 231);
}
.links {
  display: inline;
  list-style: none;
  text-decoration: none;
}
.links a {
  color: rgb(231, 231, 231);
  text-decoration: none;
  margin: 50px 50px 50px 50px;
  font-size: large;
}
.links a:hover,
.greet:hover {
  color: rgb(214, 13, 13);
  text-decoration: none;
}
header {
  margin: 30px 50px 50px 20px;
}
.project-image:hover {
  border: 10px rgb(214, 13, 13);
  cursor: pointer;
}

.image-thumbnail {
  height: 300px;
}

/* aid responsive design ...*/
@media only screen and (max-width: 600px) {
  .links a {
    line-height: 80px;
    text-decoration: none;
    margin: 50px 50px 50px 20px;
    font-size: large;
  }
  header {
    height: 80px;
    margin: 0;
    width: 100%;
    background-color: rgb(17, 19, 24);
  }
  .main-content {
    margin-top: 50px;
  }
  .projects div {
    margin-top: 50px;
  }
}
