* {
  font-family: "Ubuntu", sans-serif;
}
#title {
  text-align: center;
}
#title:hover {
  color: rgb(214, 13, 13);
}
body {
  background-color: rgb(39, 45, 59);
}
#calculator {
  margin: 0 auto;
  height: 57vh;
  width: 40vh;
  background-color: white;
  box-shadow: 1px 1px 5px 3px;
}
#text {
  position: relative;
  display: block;
  background-image: linear-gradient(
    to right,
    rgb(109, 13, 50),
    rgb(66, 66, 66)
  );
  height: 15vh;
}
#result {
  color: #fff;
  font-family: sans-serif Verdana;
}
#history {
  color: #fff;
  font-family: sans-serif Verdana;
}
.number {
  border: none;
  display: inline-block;
  font-size: 20px;
  height: 55px;
  width: 55px;
  margin: 0;
  background-color: rgb(243, 243, 243);
}
.symbol {
  border: none;
  display: inline-block;
  font-size: 20px;
  margin: 0;
  height: 55px;
  width: 55px;
  background-color: rgb(228, 228, 228);
}
#panel {
  align-items: center;
}
#decimal {
  border: none;
  display: inline-block;
  font-size: 20px;
  height: 55px;
  width: 55px;
}
#evaluate {
  border: none;
  display: inline-block;
  font-size: 20px;
  height: 55px;
  width: 55px;
  background-image: linear-gradient(
    to right,
    rgb(109, 13, 50),
    rgb(66, 66, 66)
  );
}
#text {
  text-align: end;
  padding: 0% 6%;
}
/* navbar */
.links {
  list-style: none;
}
.links a {
  color: rgb(231, 231, 231);
  text-decoration: none;
  margin: 50px 50px 50px 50px;
  font-size: large;
}
.links a:hover {
  color: rgb(214, 13, 13);
  text-decoration: none;
}
