.background {
  padding: 0;
  margin: 0;
  background-color: rgb(39, 45, 59);
  height: 100%;
  width: 100%;
}
.greet {
  color: rgb(231, 231, 231);
}
.greet:hover {
  color: rgb(214, 13, 13);
}

.links {
  list-style: none;
}
.links a {
  color: rgb(231, 231, 231);
  text-decoration: none;
  margin: 50px 50px 50px 50px;
  font-size: large;
}
.links a:hover {
  color: rgb(214, 13, 13);
  text-decoration: none;
}
header {
  margin: 30px 50px 50px 20px;
}
.project-image:hover {
  border: 10px rgb(214, 13, 13);
  cursor: pointer;
}
