main{
    justify-content: center;
}

#calc-container{
    margin: 10vh 0px 10vh 0px;
    height: 80vh;
    width: 25vw;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgb(24, 24, 24) 0%, 
    rgb(12, 12, 12) 80%, 
    rgba(0,0,0,1) 100%);
    border-radius: 20px;
}

#operation{
    color: rgb(145, 145, 145);
    margin: 30px 20px 10px 0px;
    text-align: end;
    font-size: 20px;
}
#results{
    color: var(--text-color-white);
    margin: 0px 20px 5px 20px;
    text-align: end;
    font-size: 50px;
}
#separator{
    margin: 0 auto;
    height: 3px;
    width: 95%;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}
#buttons-container{
    height: 75.4%;
    width: 100%;
    border-radius: 0px 0px 20px 20px ;
}

.button-column{
    background-color: rgba(238, 255, 0,0);
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 20%;
}

.button-column input{
    background-color: rgba(0,0,0,0);
    color: var(--text-color-white);
    font-size: 30px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 0px ;
}
.button-column input:hover{
    background-color: rgb(226, 192, 0);;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

#multiplication{
    transform: rotate(45deg);
}

@media only screen and (max-width: 1024px){
    #calc-container{
        margin: 13vh 0px 7vh 0px;
        height: 80vh;
        width: 80vw;
        background: linear-gradient(0deg, rgb(24, 24, 24) 0%, 
        rgb(12, 12, 12) 80%, 
        rgba(0,0,0,1) 100%);
        border-radius: 20px;
    }
    
}