:root{
    --main-font : 'Source Code Pro', monospace;
    --primary-color: #fafafa;
    --main-color : #ec1e1e;
    --text-color-white: #e1edee;
    --text-color-black: #000;
}

#presentation{
    margin: 60px 0px 0px 0px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0px 30px 10px 30px;
    border-radius: 1rem;
}

#presentation h1{
    font-size: 4rem;
    text-shadow: -0.1rem -0.1rem var(--primary-color);
    margin: 75px 0px 0px 0px;
    text-align: center;

}

#presentation h1:hover{
    color: var(--primary-color);
    text-shadow: -0.1rem -0.1rem var(--text-color-black);
}

#projects{
    display: flex;
    flex-direction: column;
    width: 78vw;
    border-radius: 0.5rem;
    align-items: center;
    padding: 0rem 0rem 10vh 0rem;
}

.project-container{
    display: flex;
    margin: 2rem 0rem 2rem 0rem ;
    border: 0.25rem solid black;
    width: 55vw;
    border-radius: 1rem;
    background-color: var(--primary-color);
}

.project-container-media{
    margin: 5%;
}
.project-container-media img{
    height: 300px;
    width: 300px;
    border-radius: 0.5rem;
    border: 0.25rem solid black;
}

.project-container-info {
    margin: 0px 0px 0px 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.project-container-info > *{
    color: var(--text-color-black);
}
.project-card-paragraph{
    display: flex;
    flex-direction: column;
}
.project-container-info a{
    text-decoration: none;
    color: var(--text-color-black) ;
    font-size: 2rem;
    text-align: center;
    border: solid 0.20rem black;
    background-color: var(--main-color);
    border-radius: 0.5rem;
    padding: 0.25rem;
    margin: 1rem 10px 0px 0px ;
}

@media only screen and (max-width: 1100px){
    #projects{
        width: 95vw;
        margin: 1rem 0px 0px 0px;
    }
    .project-container{
        flex-direction: column;
        margin: 1rem 0px;
        width: 50%;
        background-color: var(--primary-color);
    }
    .project-container-media{
        text-align: center;
        color: var(--text-color-white);
        margin: 2rem 0.5rem 0px 0.5rem;
    }
    .project-container-info{
        text-align: center;
        color: var(--text-color-white);
        margin: 0px;
    }
    .project-card-paragraph{
        flex-direction: column;
    }
    .project-container-info a{
        margin: 1rem ;
    }
    .project-container-media img{
        height: 250px;
        width: 250px;
    }
}


@media only screen and (max-width: 600px){
    #projects{
        width: 95vw;
        margin: 1rem 0px 0px 0px;
    }
    .project-container{
        flex-direction: column;
        margin: 1rem 0px;
        width: 95vw;
        background-color: var(--primary-color);
    }
    .project-container-media{
        text-align: center;
        color: var(--text-color-white);
        margin: 2rem 0.5rem 0px 0.5rem;
    }
    .project-container-info{
        text-align: center;
        color: var(--text-color-white);
        margin: 0px;
    }
    .project-card-paragraph{
        flex-direction: column;
    }
    .project-container-info a{
        margin: 1rem ;
    }
    .project-container-media img{
        height: 250px;
        width: 250px;
    }
}

