html{
    --main-font : 'Source Code Pro', monospace;
    --main-color: #3feee6;
    --primary-color : #fc4445;
    --text-color-white: #cafafe;
    --text-color-black: #000;
}

#presentation{
    margin: 60px 0px 0px 0px;
    text-align: center;
}

#presentation h1{
    font-size: 4rem;
    text-shadow: -0.2rem -0.2rem var(--primary-color);
    margin: 75px 0px 0px 0px;
    text-align: center;
}

#presentation h1:hover{
    color: var(--text-color-white);
    text-shadow: -0.2rem -0.2rem var(--text-color-black);
}

#projects{
    display: flex;
    flex-direction: column;
    width: 78vw;
}

#projects a{
    margin: 5% 0% 0% 5%;
}

.project-thumbnail img {
    border: 4px solid var(--primary-color);
    height: 200px;
    border-radius: 15px;
}