

body{
    display: flex;
}

main{
    width: 80vw;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#presentation{
    margin: 75px 0px 0px 0px;
    text-align: center;
}