
#presentation{
    margin: 75px 0px 0px 0px;
    text-align: center;
}

#projects{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: chartreuse;
    height: 40vh;
    width: 80vw;
}

.project-thumbnail img {
    border: 4px solid rgb(86, 31, 189);
    height: 200px;
    border-radius: 15px;
}