#presentation{
    margin: 60px 0px 0px 0px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0px 30px 10px 30px;
    border-radius: 1rem;
}

#presentation h1{
    font-size: 4rem;
    text-shadow: -0.1rem -0.1rem var(--primary-color);
    margin: 75px 0px 0px 0px;
    text-align: center;

}

#presentation h1:hover{
    color: var(--primary-color);
    text-shadow: -0.1rem -0.1rem var(--text-color-black);
}

#projects{
    display: flex;
    flex-direction: column;
    width: 78vw;
}

#projects a{
    margin: 5% 0% 0% 10%;
}

.project-thumbnail img {
    border-radius: 1rem solid var(--main-color);
    height: 15em;
    border-radius: 5px;
}

.project-thumbnail img:hover {
    position: relative;
    right: 0.5em;
    bottom: 0.5em;
    height: 16em;
}

