body{
    display: flex;
}
header{
    display: flex;
    position: fixed;
    height: 100vh;
    width: 20vw;
    background-color: var(--primary-color);
    border-right: 1px solid var(--text-color-black);
}
main{
    width: 80vw;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20vw;
}

*{
    font-family: var(--main-font);
}

@media only screen and (max-width:600px){
    header{
        display: flex;
        
        position: fixed;
        height: 10vh;
        width: 100vw;
        background-color: var(--primary-color);
        border-right: 1px solid var(--text-color-black);
    }
    main{
        width: 100vw;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }
}