#hamburger-button{
    visibility: hidden;
    font-size: 40px;
    margin: 20px 0px 0px 200px;
    font-weight: bold;
    display: flex;
    transform: rotate(90deg);
    letter-spacing: -9px;
}
#x-button:hover{
    color: var(--text-color-white);
}

#navigation-links{
    margin: 10px 0px 0px -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    list-style: none;
    align-items: flex-start;
}
#navigation-links li {
    margin: 30px 0px 0px 0px;
}
#navigation-links li a{
    color: var(--text-color-black) ;
    text-shadow: -0.1rem -0.1rem var(--text-color-white);
    text-decoration: none;
    font-size: 2rem;
}

#navigation-links li a:hover{
    color: var(--text-color-white) ;
    text-shadow: -0.1rem -0.1rem var(--text-color-black);
}

@media only screen and (max-width : 1024px){

    #navigation-links li {
       display: none;
    }
    #navigation-links li a{
        display: none;
    }
    #hamburger-button{
        background-color: var(--primary);
        visibility: unset;
        margin: 0em 0px 0px 85vw;
        border: 0px ;
    }
}

