:root{
    --main-color: #3feee6;
    --primary-color : #fc4445;
    --text-color-white: #cafafe;
    --text-color-black: #000;
}
header{
    display: flex;
    height: 100vh;
    width: 20vw;
    background-color: var(--primary-color);
    border-right: 1px solid var(--text-color-black);
}

#x-button{
    font-size: 40px;
    margin: 20px 0px 0px 200px;
    font-weight: bold;
    display: flex;
    transform: rotate(45deg);
}
#x-button:hover{
    color: var(--text-color-white);
}

#navigation-links{
    margin: 10px 0px 0px -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    list-style: none;
    align-items: flex-start;
}
#navigation-links li {
    margin: 30px 0px 0px 0px;
}
#navigation-links li a{
    color: var(--text-color-black) ;
    text-decoration: none;
    font-size: 18px;
}

#navigation-links li a:hover{
    color: var(--text-color-white) ;
}
