#x-button{
    font-size: 40px;
    margin: 20px 0px 0px 200px;
    font-weight: bold;
    display: flex;
    transform: rotate(45deg);
}
#x-button:hover{
    color: var(--text-color-white);
}

#navigation-links{
    margin: 10px 0px 0px -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    list-style: none;
    align-items: flex-start;
}
#navigation-links li {
    margin: 30px 0px 0px 0px;
}
#navigation-links li a{
    color: var(--text-color-black) ;
    text-shadow: -0.1rem -0.1rem var(--text-color-white);
    text-decoration: none;
    font-size: 2rem;
}

#navigation-links li a:hover{
    color: var(--text-color-white) ;
    text-shadow: -0.1rem -0.1rem var(--text-color-black);
}
